<img src="https://raw.githubusercontent.com/afo/data-x-plaksha/master/imgsource/dx_logo.png" align="left"></img><br><br><br><br>

## Plaksha SQL assignment

---

## Submission details:

Please submit this as a Jupyter Notebook and a PDF of your results (both should show output). Also push your solutions to Github.

For the submision create a local database with `sqlite3` or `sqlalchemy` in a Jupyter notebook and make the queries either with a cursor object (and then print the results) or by using pandas `pd.read_sql_query()`.

___

When completing this homework you can experiment with SQL commands by utilizing this great online editor:

https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all

There are already some tables in the online Database, namely:

`Categories, Employees, OrderDetails, Orders, Products, Shippers, and Suppliers.`

If you want you can drop them by running  `DROP TABLE [table-name];` (or just keep them).

___

## Exercises:

First create a table called students. It has the columns: 'student_id', 'name', 'major', 'gpa' and 'enrollment_date' We will use a new form of `CREATE TABLE` expression to produce this table.

Note that you can improve this and are welcome to do so -- e.g. by specifying for example a PRIMARY KEY and a FOREIGN KEY in Q2 :)

    CREATE TABLE students AS
        SELECT 1 AS student_id, "John" AS name, "Computer Science" AS major, 3.5 AS gpa, "01-01-2022" AS enrollment_date UNION
        SELECT 2, "Jane", "Physics", 3.8, "01-02-2022" UNION
        SELECT 3, "Bob", "Engineering", 3.0, "01-03-2022" UNION
        SELECT 4, "Samantha", "Physics", 3.9, "01-04-2022" UNION
        SELECT 5, "James", "Engineering", 3.7, "01-05-2022" UNION
        SELECT 6, "Emily", "Computer Science", 3.6, "01-06-2022" UNION
        SELECT 7, "Michael", "Computer Science", 3.2, "01-07-2022" UNION
        SELECT 8, "Jessica", "Engineering", 3.8, "01-08-2022" UNION
        SELECT 9, "Jacob", "Physics", 3.4, "01-09-2022" UNION
        SELECT 10, "Ashley", "Physics", 3.9, "01-10-2022";


## Q1 Simple SELECTS (on the students table)
1. SELECT all records in the table.
2. SELECT students whose major is "Computer Science".
3. SELECT all unique majors (use SELECT DISTINCT) and order them by name, descending order (i.e. Physics first).
4. SELECT all students that have an 'e' in their name and order them by gpa in ascending order.


## Q2 Joins

Create a new table called courses, which indicates the courses taken by the students. 

Create the table by running:
	
    CREATE TABLE courses AS
        SELECT 1 AS course_id, "Python programming" AS course_name, 1 AS student_id, "A" AS grade UNION
        SELECT 2, "Data Structures", 2, "B" UNION
        SELECT 3, "Database Systems", 3, "B" UNION
        SELECT 1, "Python programming", 4, "A" UNION
        SELECT 4, "Quantum Mechanics", 5, "C" UNION
        SELECT 1, "Python programming", 6, "F" UNION
        SELECT 2, "Data Structures", 7, "C" UNION
        SELECT 3, "Database Systems", 8, "A" UNION
        SELECT 4, "Quantum Mechanics", 9, "A" UNION
        SELECT 2, "Data Structures", 10, "F";

1. COUNT the number of unique courses.
2. JOIN the tables students and courses and COUNT the number of students with the major Computer Science taking the course Python programming.
3. JOIN the tables students and courses and select the students who have grades higher than "C", only show their name, major, gpa, course_name and grade.


## Q3 Aggregate functions, numerical logic and grouping

1. Find the average gpa of all students.
2. SELECT the student with the maximum gpa, display only their student_id, major and gpa
3. SELECT the student with the minimum gpa, display only their student_id, major and gpa
4. SELECT the students with a gpa greater than 3.6 in the majors of "Physics" and "Engineering", display only their student_id, major and gpa
5. Group the students by their major and retrieve the average grade of each major.
6. SELECT the top 2 students with the highest GPA in each major and order the results by major in ascending order, then by GPA in descending order

# Your solution

In [1]:
import sqlite3
import numpy as np
import pandas as pd

In [2]:
connection_obj = sqlite3.connect("database.db")

In [3]:
cursor_obj = connection_obj.cursor()

In [4]:
cursor_obj.execute("DROP TABLE IF EXISTS students")
cursor_obj.execute("DROP TABLE IF EXISTS courses")

In [5]:
table = """
CREATE TABLE students AS
        SELECT 1 AS student_id, "John" AS name, "Computer Science" AS major, 3.5 AS gpa, "01-01-2022" AS enrollment_date UNION
        SELECT 2, "Jane", "Physics", 3.8, "01-02-2022" UNION
        SELECT 3, "Bob", "Engineering", 3.0, "01-03-2022" UNION
        SELECT 4, "Samantha", "Physics", 3.9, "01-04-2022" UNION
        SELECT 5, "James", "Engineering", 3.7, "01-05-2022" UNION
        SELECT 6, "Emily", "Computer Science", 3.6, "01-06-2022" UNION
        SELECT 7, "Michael", "Computer Science", 3.2, "01-07-2022" UNION
        SELECT 8, "Jessica", "Engineering", 3.8, "01-08-2022" UNION
        SELECT 9, "Jacob", "Physics", 3.4, "01-09-2022" UNION
        SELECT 10, "Ashley", "Physics", 3.9, "01-10-2022";
"""

In [6]:
cursor_obj.execute(table)

## Question 1

#### SELECT all records in the table

In [7]:
query = """
SELECT *
FROM students;
"""

In [8]:
output = cursor_obj.execute(query)

for i in output:
    print(i)

(1, 'John', 'Computer Science', 3.5, '01-01-2022')
(2, 'Jane', 'Physics', 3.8, '01-02-2022')
(3, 'Bob', 'Engineering', 3.0, '01-03-2022')
(4, 'Samantha', 'Physics', 3.9, '01-04-2022')
(5, 'James', 'Engineering', 3.7, '01-05-2022')
(6, 'Emily', 'Computer Science', 3.6, '01-06-2022')
(7, 'Michael', 'Computer Science', 3.2, '01-07-2022')
(8, 'Jessica', 'Engineering', 3.8, '01-08-2022')
(9, 'Jacob', 'Physics', 3.4, '01-09-2022')
(10, 'Ashley', 'Physics', 3.9, '01-10-2022')

#### SELECT students whose major is "Computer Science"

In [9]:
query = """
SELECT *
FROM students
WHERE major='Computer Science';
"""

major_cs = cursor_obj.execute(query)
for i in major_cs:
    print(i)

(1, 'John', 'Computer Science', 3.5, '01-01-2022')
(6, 'Emily', 'Computer Science', 3.6, '01-06-2022')
(7, 'Michael', 'Computer Science', 3.2, '01-07-2022')

#### SELECT all unique major and order them by name, descending order

In [10]:
query = """
SELECT DISTINCT major
FROM students
ORDER BY major DESC;
"""

unique_major = cursor_obj.execute(query)
for i in unique_major:
    print(i)

('Physics',)
('Engineering',)
('Computer Science',)

#### SELECT all students that have an 'e' in their name and order them by gpa in ascending order

In [11]:
query = """
SELECT name
FROM students
WHERE name LIKE '%e%'
ORDER BY major ASC;
"""

unique_major = cursor_obj.execute(query)
for i in unique_major:
    print(i)

('Emily',)
('Michael',)
('James',)
('Jessica',)
('Jane',)
('Ashley',)

## Question 2

In [12]:
table = """
CREATE TABLE courses AS
        SELECT 1 AS course_id, "Python programming" AS course_name, 1 AS student_id, "A" AS grade UNION
        SELECT 2, "Data Structures", 2, "B" UNION
        SELECT 3, "Database Systems", 3, "B" UNION
        SELECT 1, "Python programming", 4, "A" UNION
        SELECT 4, "Quantum Mechanics", 5, "C" UNION
        SELECT 1, "Python programming", 6, "F" UNION
        SELECT 2, "Data Structures", 7, "C" UNION
        SELECT 3, "Database Systems", 8, "A" UNION
        SELECT 4, "Quantum Mechanics", 9, "A" UNION
        SELECT 2, "Data Structures", 10, "F";
"""

In [13]:
cursor_obj.execute(table)

### COUNT the number of unique courses

In [14]:
query = """
SELECT COUNT(DISTINCT course_name)
FROM courses;
"""

unique_major = cursor_obj.execute(query)
for i in unique_major:
    print(i)

(4,)

#### JOIN the tables student and courses and COUNT the number of students with the major Computer Science taking the course programming

In [15]:
query = """
SELECT COUNT(name)
FROM students
INNER JOIN courses ON students.student_id = courses.student_id
WHERE major='Computer Science' AND course_name='Python programming';
"""

cs_pp = cursor_obj.execute(query)
for i in cs_pp:
    print(i)

(2,)

#### JOIN the tables students and courses and select the students who have grades higher than 'C', only show their name, major, gpa, course_name and grade

In [16]:
query = """
SELECT name,major,gpa,course_name,grade
FROM students
INNER JOIN courses ON students.student_id = courses.student_id
WHERE grade<'C';
"""

good_grades = cursor_obj.execute(query)
for i in good_grades:
    print(i)

('John', 'Computer Science', 3.5, 'Python programming', 'A')
('Samantha', 'Physics', 3.9, 'Python programming', 'A')
('Jane', 'Physics', 3.8, 'Data Structures', 'B')
('Bob', 'Engineering', 3.0, 'Database Systems', 'B')
('Jessica', 'Engineering', 3.8, 'Database Systems', 'A')
('Jacob', 'Physics', 3.4, 'Quantum Mechanics', 'A')

### Question 3

#### Find the average GPA of all students

In [17]:
query = """
SELECT ROUND(AVG(gpa),3)
FROM students;
"""

avg_gpa = cursor_obj.execute(query)
for i in avg_gpa:
    print(i)

(3.58,)

#### SELECT the student wuth the maximum gpa, display on their student_id, major and gpa

In [18]:
query = """
SELECT student_id,major, gpa
FROM students
ORDER BY gpa DESC
LIMIT 1;
"""

max_gpa = cursor_obj.execute(query)
for i in max_gpa:
    print(i)

(4, 'Physics', 3.9)

#### SELECT the student with the minimum gpa, display only thier student_id, major and gpa

In [19]:
query = """
SELECT student_id,major, gpa
FROM students
ORDER BY gpa ASC
LIMIT 1;
"""

min_gpa = cursor_obj.execute(query)
for i in min_gpa:
    print(i)

(3, 'Engineering', 3.0)

#### SELECT the students with a gpa greater than 3.6 in the majors of "Physics" and "Engineering", display only their student_id, major and gpa

In [20]:
query = """
SELECT student_id,major, gpa
FROM students
WHERE gpa > 3.6 AND major IN('Physics','Engineering');
"""

max_gpa = cursor_obj.execute(query)
for i in max_gpa:
    print(i)

(2, 'Physics', 3.8)
(4, 'Physics', 3.9)
(5, 'Engineering', 3.7)
(8, 'Engineering', 3.8)
(10, 'Physics', 3.9)

#### Group the students by their major and retrieve the average grade of each major

In [21]:
query = """
SELECT major, AVG(GPA)
FROM students
GROUP BY major;
"""

major_avg_gpa = cursor_obj.execute(query)
for i in major_avg_gpa:
    print(i)

('Computer Science', 3.4333333333333336)
('Engineering', 3.5)
('Physics', 3.75)

#### SELECT the top 2 students with the highest GPA in each major and order the results by major in ascending order, then by GPA in descending order

In [22]:
cursor_obj.execute("DROP VIEW IF EXISTS major_ranks")

In [23]:
query = """
CREATE VIEW major_ranks AS
SELECT student_id, major,gpa,
RANK() OVER (PARTITION BY major ORDER BY gpa) AS gpa_rank
FROM students
"""
cursor_obj.execute(query)

In [24]:
query = """SELECT * 
FROM major_ranks
WHERE gpa_rank <=2
ORDER BY major ASC, gpa DESC;
"""

for i in cursor_obj.execute(query):
    print(i)

(1, 'Computer Science', 3.5, 2)
(7, 'Computer Science', 3.2, 1)
(5, 'Engineering', 3.7, 2)
(3, 'Engineering', 3.0, 1)
(2, 'Physics', 3.8, 2)
(9, 'Physics', 3.4, 1)

In [25]:
query = """
SELECT *
FROM courses;
"""

for i in cursor_obj.execute(query):
    print(i)

(1, 'Python programming', 1, 'A')
(1, 'Python programming', 4, 'A')
(1, 'Python programming', 6, 'F')
(2, 'Data Structures', 2, 'B')
(2, 'Data Structures', 7, 'C')
(2, 'Data Structures', 10, 'F')
(3, 'Database Systems', 3, 'B')
(3, 'Database Systems', 8, 'A')
(4, 'Quantum Mechanics', 5, 'C')
(4, 'Quantum Mechanics', 9, 'A')

In [26]:
connection_obj.commit()

In [27]:
connection_obj.close()